<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>


  <!-- Font Awesome -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">

  <!-- socket.io -->
  <script src="/cdn/socket.io.min.js"></script>
  <!-- hls -->
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

  <% if(!IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/camera.css?v=<%= time %>">
  <% } else { %>
  <link rel="stylesheet" href="/css-min/camera.min.css?v=<%= time %>">
  <% }  %>
</head>
 
<body>

  <%- include('partials/nav.ejs') %>
  <%- include('partials/notify.ejs', {msg:msg}) %> 

  <header class="header-title bg-forestgreen">
    <p class="al-c fc-white">
      <span><%= title %></span>
    </p>
  </header>

  <main>


    <!-- ปุ่มหมุนกล้อง 4 ทิศทาง -->
    <section class="al-c" style="margin: 16px 0;">
      <div style="display: inline-block;">
        <button id="btn-cam-up" class="btn btn-circle btn-cam"><i class="fas fa-arrow-up"></i></button><br>
        <button id="btn-cam-left" class="btn btn-circle btn-cam"><i class="fas fa-arrow-left"></i></button>
        <button id="btn-cam-home" class="btn btn-circle btn-cam"><i class="fas fa-dot-circle"></i></button>
        <button id="btn-cam-right" class="btn btn-circle btn-cam"><i class="fas fa-arrow-right"></i></button><br>
        <button id="btn-cam-down" class="btn btn-circle btn-cam"><i class="fas fa-arrow-down"></i></button>
      </div>
    </section>
    
    <img id="camera-img" width="640" height="480"  />


  </main>  


  <!--  -->
  <%- include('partials/footer') %> 
  <script type="text/javascript">
    const PREFIX = '<%= PREFIX %>';
    const PATH_MAIN = `<%= PATH_MAIN %>`;
    const PATH_REQUEST = `<%= PATH_REQUEST %>`;
  </script>

  <script>
    const socket = io();
    const img = document.getElementById('camera-img');
    socket.on('camera_image', (base64Image) => {
      img.src = 'data:image/jpeg;base64,' + base64Image;
    });
  </script> 


  <!--  -->
  <% if(!IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/notify.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/camera.js?v=<%= time %>"></script>
  <% } else { %>
  <script type="text/javascript" src="/js-min/camera.obf.js?v=<%= time %>"></script>
  <% }  %>

</body>
</html>




