
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>

  <!-- Font Awesome -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">

  <!-- SweetAlert2 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
  <script src="/cdn/sweetalert2.all.min.js"></script>

  <% if(!global.IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/flexNew.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/input.css?v=<%= time %>">  
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/manageSettingsSystem.css?v=<%= time %>">
  <% } else { %>
  <link rel="stylesheet" href="/css-min/manageSettingsSystem.min.css?v=<%= time %>">
  <% }  %>
</head>
<body>

  <%- include('partials/notify.ejs', {msg:msg}) %> 
  <%- include('partials/nav.ejs') %>

  
  <header class="header-title bg-steelblue">
    <p class="al-c fc-white">
      <i class="fas fa-cog mg-r-l"></i> 
      <span><%= title %></span>
    </p>
  </header>

  <main>


    <!-- Tab links -->
    <div class="tab">
      <div class="tabMenu" id="tab1Menu" onclick="event.preventDefault();openMenu(this,'tabcontent1')">ตั้งค่า</div>
      <!-- <div class="tabMenu" id="tab2Menu" onclick="event.preventDefault();openMenu(this,'tabcontent2')">เทเลแกรม</div> -->
      <!-- <div class="tabMenu" id="tab1Menu" onclick="event.preventDefault();openMenu(this,'tabcontent1')">เซิร์ฟเวอร์</div> -->
    </div>

    <!-- #1 -->
    <div id="tabcontent1" class="tabcontent">
      <!--  -->
      <form id="emailForm" autocomplete="off" 
            action="<%= PATH_SAVE %>" 
            method="post"
            onsubmit="createSpinner()">

        <!--  -->
        <div class="flex-row mg-t-l">          
          <label class="col-sm-f lh-xs" style="word-break: break-word; white-space: normal;">             
          <span class="pd-r-s">✍</span> สำหรับการส่งอีเมล์ระบบ เช่น การแจ้งเตือนรหัสผ่านเมื่อสร้างยูสเซอร์ หรือ การแจ้งลิงค์รีเซ็ตพาสเวิร์ด</label>
        </div>

        <!-- EMAIL_WHOSEND -->
        <div class="input-group mg-t-l">
          <label title="EMAIL_WHOSEND">
            <i class="fas fa-envelope"></i> ชื่อสำหรับส่งอีเมล
          </label> 
          <input class="pd-l-m mg-t-m" type="email"
                value="<%= settingsSystem?.EMAIL_WHOSEND ?? '' %>"
                id="EMAIL_WHOSEND" name="EMAIL_WHOSEND" 
                placeholder="เช่น your-email@gmail.com">
        </div>

        <!-- EMAIL_APP_PASSWORD -->
        <div class="input-group mg-t-xl">
          <label class="lh-xs" title="EMAIL_APP_PASSWORD">
            <i class="fas fa-key"></i>
            <span>รหัสส่งอีเมลสำหรับแอปพลิเคชัน </span><br>
            <span class="fs-s fc-gray">(บัญชี GMail/Google Workspace เท่านั้น)</span>
          </label> 
          <input class="pd-l-m mg-t-m" type="text" minlength="19" 
                title="รหัสผ่านสำหรับแอปพลิเคชัน (Application Password) ของบัญชี GMail/Google Workspace"
                value="<%= settingsSystem?.EMAIL_APP_PASSWORD ?? '' %>"
                id="EMAIL_APP_PASSWORD" name="EMAIL_APP_PASSWORD" 
                pattern="<%= global.EMAIL_APP_PASSWORD_STRING %>"
                placeholder="เช่น xxxx xxxx xxxx xxxx">
        </div>


        <!--  -->
        <div class="flex-row mg-t-xxl">          
          <label class="col-sm-f lh-xs" style="word-break: break-word; white-space: normal;">             
          <span class="pd-r-s">✍</span>ขอ Bot Token ได้จากแอพเทเลแกรม</label>
        </div>

        <!-- TELEGRAM_BOT_TOKEN -->
        <div class="input-group mg-t-l">
          <label title="TELEGRAM_BOT_TOKEN">
            <i class="fab fa-telegram-plane"></i>
            โทเคนบ็อตส่งข้อความของเทเลแกรม
          </label> 
          <input class="pd-l-m" type="text"                
                name="TELEGRAM_BOT_TOKEN" id="TELEGRAM_BOT_TOKEN" 
                pattern="<%= global.TELEGRAM_BOT_TOKEN_PATTERN_STRING %>"
                title="<%= global.TELEGRAM_BOT_TOKEN_DESCRIPTION %>"
                value="<%= settingsSystem?.TELEGRAM_BOT_TOKEN ?? '' %>"
                placeholder="รูปแบบ: 1234567890:AAH...">
        </div>  

        <!-- TELEGRAM_GROUP_CHAT_ID -->
         <div class="input-group mg-t-l">
          <label class="pd-r-s al-l" title="ไอดีกลุ่มเทเลแกรม">
            <i class="fab fa-telegram-plane"></i> ไอดีกลุ่มเทเลแกรม
          </label>
          <input class="pd-l-m al-l" type="number" 
                 placeholder="Telegram Group Chat ID เช่น -123456789 "
                 title="ไอดีกลุ่ม Telegram เช่น -123456789"
                 name="TELEGRAM_GROUP_CHAT_ID" 
                 pattern="^-?[0-9]{9,}$" 
                 value="<%= settingsSystem?.TELEGRAM_GROUP_CHAT_ID ?? '' %>">
        </div>

        <!-- TELEGRAM_BOT_NOTE -->
        <div class="input-group mg-t-l">
          <label title="TELEGRAM_BOT_NOTE">
            <i class="fas fa-book"></i> โน๊ต
          </label> 
          <textarea class="pd-l-m" rows="3"
                name="TELEGRAM_BOT_NOTE" 
                id="TELEGRAM_BOT_NOTE"                 
                style="resize: vertical;"
                ><%= settingsSystem?.TELEGRAM_BOT_NOTE ?? '' %></textarea>
        </div>  


        <!-- Buttons/Save -->
        <section class="flex-row justify-content-center mg-t-xxl">
          <button class="btn-xlh btn-sm bg-save" type="submit">
            <i class="fas fa-save"></i> บันทึก
          </button>
        </section>

      </form>
    </div>    


    <!-- #2 : ห้ามลบ  -->
    <!-- <div id="tabcontent2" class="tabcontent">
      <- include('partials/manageSettingsSystem_items.ejs' ) >
    </div> -->

    <!-- #3 : ห้ามลบ -->
    <!-- <div id="tabcontent1" class="tabcontent">
      <- include('partials/manageSettingsSystem_server.ejs' ) >
    </div> -->


  </main>

  <!--  -->
  <%- include('partials/footer') %>

  <!-- เริ่มต้นคลิกแท็บตอนโหลดหน้าเว็บ -->
  <script type="text/javascript">
    const tabNumberClicked = `<%= tabNumberClicked %>`;
  </script>


  <!--  -->
  <% if(!global.IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/notify.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/tabMenu.js"></script>
  <script type="text/javascript" src="/js/manageSettingsSystem.js?v=<%= time %>"></script>
  <% } else { %>
  <script type="text/javascript" src="/js-min/manageSettingsSystem.obf.js?v=<%= time %>"></script>
  <% }  %>
</body>
</html>

